[Desktop Entry]
Type=Application
Name=Helium
Exec=/home/carlos/repos/helium/helium-0.12.4.1-x86_64.AppImage --ozone-platform=wayland
Terminal=false
Icon=thorium-browser
Categories=Network;Utility;
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
