@import "colors.css";

* {
	border: none;
	border-radius: 0px;
    font-family: "JetbrainsMono Nerd Font";
	font-size: 15px;
	min-height: 10px;
}

window {}

window#waybar {
	background-color: @wb_surface;
    border-radius: 0px;
    margin-top: 6px;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0px;
	transition: none;
	color: transparent;
	background: @wb_transparent;
}

#workspaces {
    margin: 6px 6px 6px 6px;  
	border-radius: 0px;
	background: @wb_transparent;
	transition: none;
    padding-left: 12px;
    padding-right: 6px;
}

#workspaces button {
	transition: none;
	color: @wb_muted;
	background: @wb_transparent;
    margin-right: 10px;
}

#workspaces button.persistent {
    transition: none;
    color: @wb_accent_alt;
    background: @wb_transparent;
    font-size: 4px;
}

#workspaces button.empty {
	color: @wb_muted;
    font-size: 2px;
    transition: none;
    background: @wb_transparent;
}

#workspaces button.active {
	transition: none;
	color: @wb_accent;
	background: @wb_transparent;
	font-size: 4px;
}
#pulseaudio {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
	transition: none;
	color: @wb_foreground;
	background: @wb_transparent;
}
#battery {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 6px;
	border-radius: 0px;
	transition: none;
    font-size: 14px;
    font-weight: bold;
	color: @wb_foreground;
	background: @wb_transparent;
}

#battery.charging, #battery.plugged {
	color: @wb_accent;
    background-color: @wb_transparent;
}

#battery.critical:not(.charging) {
    background-color: @wb_transparent;
    color: @wb_accent_foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @wb_warning;
    }
}

#backlight {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 0px;
	transition: none;
	color: @wb_accent_foreground;
	background: @wb_transparent;
}

#clock {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
    margin-right: 0px;
	margin-bottom: 6px;
	border-radius: 0px;
	transition: none;
    font-size: 14px;
    font-weight: bold;
	color: @wb_foreground;
	background: @wb_transparent;
}

#memory {
    margin: 6px 0px 6px 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
	transition: none;
	color: @wb_foreground;
	background: @wb_transparent;
}

#disk {	
    margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 10px;
	border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
	transition: none;
	color: @wb_foreground;
	background: @wb_transparent;

}

#cpu {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 10px;
	border-radius: 0px;
    font-size: 14px;
    font-weight: bold;
	transition: none;
	color: @wb_foreground;
	background: @wb_transparent;
}

#tray {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 10px;
	border-radius: 0px;
	transition: none;
	color: @wb_accent_alt;
	background: @wb_transparent;
}

#custom-launcher {
	font-size: 18px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
	border-radius: 0px;
	transition: none;
    color: @wb_accent;
    background: @wb_transparent;
}

#custom-power {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 6px;
	padding-right: 15px;
	border-radius: 0px;
    margin-right: 8px;
    font-size: 14px;
    font-weight: bold;
	transition: none;
	color: @wb_foreground;
	background: @wb_transparent;
}

#custom-updates {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 0px;
	transition: none;
	color: @wb_accent_foreground;
	background: @wb_transparent;
}

#custom-habit_timer {
	margin: 6px 0 6px 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0px;
	font-size: 14px;
	font-weight: bold;
	background: @wb_transparent;
}

#custom-habit_timer.active {
	color: #a6e3a1;
}

#custom-habit_timer.inactive {
	color: @wb_muted;
}

#custom-media {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 0px;
	transition: none;
	color: @wb_accent_foreground;
	background: @wb_transparent;
}
#custom-player {
	margin-top: 6px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
    margin-right: 0px;
	margin-bottom: 6px;
	border-radius: 0px;
	transition: none;
    font-size: 14px;
    font-weight: bold;
	color: @wb_foreground;
	background: @wb_transparent;
}
